*{
margin:0%;
padding:0%;
box-sizing: border-box;
}
html,body{
width: 100%;
height: 100%;
align-items: center;
justify-content: space-evenly;
display: flex;
perspective: 150%;
}

#main{
height: 100%;
width: 100%;
background-color: cyan;  
padding: 20px;
display: flex; 
gap: 20px;
flex-wrap: wrap; 
justify-content: center;
align-items: center;
}

*.card{
    height: 300px;
    width: 250px;
    background-color: white;
    position: relative;
    overflow: hidden;
    
}
.card img{
    height: 100%;
    width: 100%;
    object-fit: cover;
    
    
}
.bottom{
    height: 40%;
    width: 100%;
    position: absolute;
    bottom: -40%;
    transition: all ease 0.4s;
     display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 20px;
    background: linear-gradient(transparent, black);
}
.bottom h1{
    color: white;
    font-size: 20px;
}
.bottom h2{
    background-color: white;
    padding: 5px 7px;
    border-radius: 50%;
}
.card:hover .bottom{
    bottom: 0;
}


    
